! Font source
! http://int10h.org/
!Add \ to the end of the first two lines when uncommenting.

URxvt.letterSpace: -0.5

!URxvt.font: xft:PxPlus AmstradPC1512\\-2y:size=8:pixelsize=18, 
!URxvt.font: -lucy-tewi-medium-*-normal--12-*-75-75-*-0-iso10646-1 
!URxvt.font: xft:dejavu sans mono:size=14, 
URxvt.font: xft:source code pro for powerline:size=12, \
            xft:Kochi Gothic:antialias=true, \
            xft:Baekmuk Gulim

URxvt.scrollBar: false
URxvt.internalBoarder: 0

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6


